/*All code based on what we had in class*/
html { /*Html position,default*/
    position: relative;
    min-height: 100%;
}

body {/*bottom margin to 60 pixels*/
    margin-bottom: 60px;
}
.footer {/* footer configuration*/
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;}

table, th, td {/*table border and text align*/
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
    }
table {/*table border*/

    border-collapse: collapse;
    width: 100%;
}
td {/*itens td*/
    border: 2px solid #91b9b9;
    padding: 0.5rem;
    text-align: left;
}
 th {/*table header*/
    border: 2px solid #91b9b9;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(223, 217, 217);
}
.selected {/*selected configuration*/
    background-color: #dc3545;
    color: #FFF;
} 